crispy-bootstrap4
daphne
django-cors-headers
django-crispy-forms
Jinja2
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
openai
pydantic
pydantic_core
Pygments
pyOpenSSL
python-dotenv
requests
